.move-able {
  /* border: 1px solid rgba(128, 128, 128, 0.473); */
  transition: 0ms;
  position: fixed;
  overflow: auto;
  resize: both;
  top: 0px;
  min-width: 200px;
  min-height: 200px;
  box-shadow: 0px 0px 21px 5px #00000040;
}
#settings-app {
  background-color: tan;
}
#camera-app {
  background-color: crimson;
}
#third-app {
  /* background-color: olivedrab; */
  background-color: white;
  color: black;
}
.application_main_body {
  margin-top: 35px;
}
.navigations {
  display: flex;
}
.topBar {
  background-color: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  position: absolute;
  height: 35px;
  /* cursor: move; */
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topBar h5 {
  margin-left: 15px;
  font-weight: 400;
  color: white;
}
.navigations {
  display: flex;
}
.topBar .navigation_options {
  height: 35px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navigation_options img {
  width: 14px;
  transition: .1s ease;
}
.navigation_options:hover img {
  width: 18px;
}
.close:hover {
  background-color: red;
}
.maximize:hover,.minimize:hover  {
  background-color: rgba(255, 255, 255, 0.434);
}
