@font-face {
  font-family: KaushanScript;
  src: url(../assets/fonts/KaushanScript.ttf);
}
@font-face {
  font-family: JollyLodger;
  src: url(../assets/fonts/JollyLodger.ttf);
}
@font-face {
  font-family: IMFellDWPicaSC;
  src: url(../assets/fonts/IMFellDWPicaSC.ttf);
}
:root {
  color-scheme: dark;

  --grey0: #f6f6f6;
  --grey1: #dbdbdb;
  --grey2: #b3b3b3;
  --grey3: #9c9c9c;
  --grey4: #7a7a7a;
  --grey5: #585858;
  --grey6: #2c2c2c;
  --grey7: #3d3d3d;
  --grey8: #232323;
  --grey9: #161616;

  --sans: "Inter", sans-serif;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s ease;
  scroll-behavior: smooth;
}
body{
  user-select: none;
}
#main-container {
  /* height: calc(100vh - 40px); */
  height: 100dvh;
  width: 100%;
  background-color: black;
  /* background-image: url(https://wallpapercave.com/wp/wp7094651.jpg); */
  /* background-image: url(https://i.pinimg.com/originals/51/ef/eb/51efeb2d035a4a3e0113ccef7857b4a1.jpg); */
  background-size: cover;
  background-position: center;
}
#taskbar {
  position: fixed;
  z-index: 9;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background-color: rgb(63 60 60 / 15%);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
}
#opened_app {
  margin-left: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
}
#opened_app img {
  height: 27px;
  width: 27px;
  margin: 6px 7px 6px 7px;
  cursor: pointer;
}
#left_empty_container,
#date_time_and_icons {
  color: white;
}
#date_time_and_icons {
  display: flex;
  align-items: center;
}
#date_time_and_icons #icons img {
  width: 14px;
  margin: 0px 2px;
  cursor: pointer;
}
#date_time_and_icons #date_time {
  padding: 0px 20px 0px 15px;
  margin-left: 15px;
  font-size: 11px;
  line-height: 14px;
  border-left: 2px solid white;
}

/* Lock Screen */
#lock_screen {
  transition: 0.7s cubic-bezier(0.8, -0.19, 0, 0.9);
  position: fixed;
  z-index: 10;
  /* background-image: url(https://wallpapers.com/images/hd/aesthetic-computer-4k-c9qdhe02pr84wh3a.jpg); */
  background-size: cover;
  background-position: center;
  top: 100%;
  width: 100%;
  height: 100dvh;
  opacity: 0;
}
#lock_screen #lock_screen_container {
  height: 100%;
  width: 100%;
  background-color: #00000052;
  backdrop-filter: blur(4px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lock_screen_container h1 {
  font-size: 100px;
  font-family: KaushanScript !important;
}
#lock_screen_container h2 {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: IMFellDWPicaSC !important;
}

#username {
  position: fixed;
  bottom: 20px;
  font-size: 27px;
  font-family: JollyLodger;
}
/* Lock screen with password */
#lock_screen_with_password {
  transition: 1s cubic-bezier(0.8, -0.19, 0, 0.9);
  position: fixed;
  z-index: 9;
  /* background-image: url(https://wallpapers.com/images/hd/aesthetic-computer-4k-c9qdhe02pr84wh3a.jpg); */
  background-size: cover;
  background-position: center;
  top: 100%;
  display: none;
  width: 100%;
  height: 100dvh;
  /* opacity: 0; */
}
#lock_screen_with_password #asking_password {
  height: 100%;
  width: 100%;
  background-color: #00000052;
  backdrop-filter: blur(4px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_username_password_holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#asking_password #image_div {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 100%;
}
#image_div img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
#asking_password #username_above_password {
  font-size: 40px;
  font-family: JollyLodger;
  margin: 10px 0px 15px 0px;
}
#password_container input {
  height: 35px;
  width: 240px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
}

/* Main Container */
#mainMenu-container-old {
  background-color: rgb(0 0 0 / 60%);
  transition: 0.3s ease-in-out !important;
  height: calc(100dvh - 40px);
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#apps-container-old {
  max-width: 95%;
  height: 100%;
  transition: 2s cubic-bezier(0.76, 1.18, 1, -0.15);
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  align-content: center;
  width: 100%;
  scroll-behavior: smooth;
}
#apps-container-old::-webkit-scrollbar {
  display: none;
}

#page-1-old {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  scroll-snap-align: center;
}
#page-2-old {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  scroll-snap-align: center;
}
.app-in-menu-old {
  flex: 1 1 content;
  /* background-color: tan; */
  /* backdrop-filter: blur(10px); */
  min-width: 80px;
  max-width: 80px;
  height: 70px;
  margin: 5px;
}
.app-in-menu-old {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-in-menu-old img {
  margin-bottom: 3px;
  width: 50px;
}
.app-in-menu-old h5 {
  color: white;
  font-weight: 400;
}
/* Search Field */
#search_app_container-old {
  transition: 0.3s ease;
  /* height: calc(100dvh - 40px); */
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  /* background-color: rgba(0, 0, 0, 0.395); */
  /* backdrop-filter: blur(10px); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* #search_app_container:hover {
  height: calc(100dvh - 40px);
} */
#search_app_container-old #search_app {
  margin-top: 10px;
  height: 40px;
  width: 350px;
  border: none;
  border-radius: 50px;
  padding-left: 15px;
}
/* #search_app_container h3{
  color: white;
  margin-top: 20px;
} */

/* ///////////////////////////////////////////////////////////////////////////////////////// */
#main_menu_windows {
  transition: 0.2s ease;
  width: 590px;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.774);
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: calc(0px + 40px);
  opacity: 0;
  bottom: -10px;
  display: none;
  z-index: 8;
  /* left: -10px; */
}

#column-1 {
  width: 50px;
  height: 100%;
  /* background-color: teal; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}
#column-2 {
  position: relative;
  width: 45%;
  height: 100%;
  /* background-color: crimson; */
  overflow: scroll;
  padding-top: 30px;
}
#column-2::-webkit-scrollbar {
  display: none;
}
#column-3 {
  width: 55%;
  height: 100%;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.1rem;
  padding: 40px 7px 0px 0px;
  overflow: scroll;
}
#column-3::-webkit-scrollbar {
  display: none;
}
#column-1 div {
  margin-bottom: 10px;
  margin-left: 13px;
}
#column-1 img {
  width: 20px;
}

.app_list {
  display: flex;
  align-items: center;
  /* background-color: teal; */
  height: 38px;
  padding: 0px 5px;
  color: white;
}
.app_list img {
  width: 25px;
  height: 25px;
}
.app_list h5 {
  font-size: 12px;
  padding-left: 6px;
  font-weight: 300;
}
.app-topic {
  margin: 10px 0px 5px 0px;
  color: white;
  font-size: 12px;
  /* padding-left: 6px; */
  /* font-weight: 500; */
}
.select-apps {
  flex: 1 1 content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 95px;
  /* max-width: 95px; */
  height: 80px;
  background-color: rgb(150 150 150 / 30%);
  color: white;
  text-align: center;
}
.select-apps img {
  width: 40px;
  margin-bottom: 6px;
}
.select-apps h5 {
  font-size: 12px;
  font-weight: 300;
}
#column-3 {
  position: relative;
}
#column-3 .title,
#column-2 .title {
  position: absolute;
  /* padding: 7px 0px; */
  color: white;
  width: 100%;
  top: 1px;
  /* bottom: 0px; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background-color: crimson; */
}
.title div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: cadetblue; */
}
.title div h5 {
  font-size: 12px;
  padding-left: 6px;
  font-weight: 300;
}
#column-2 .title div p:nth-child(2) {
  transform: rotate(-90deg);
  font-size: 25px;
  margin-right: 10px;
  color: transparent;
}
#column-3 .title div p:nth-child(2) {
  color: transparent;
  transform: rotate(90deg);
  font-size: 25px;
  margin-right: 10px;
}
@media (max-width: 750px) {
  #main_menu_windows {
    /* display: flex; */
    width: 100vw;
    height: calc(100dvh - 40px);
    flex-direction: column;
  }
  #column-1 {
    height: 27px;
    width: 100%;
    /* background-color: aqua; */
    order: 3;
  }
  #column-1 div {
    margin: 0px;
  }
  #column-2 {
    height: 100%;
    order: 2;
    width: 100%;
    /* background-color: tan; */
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    margin: 10px 0px;
  }
  #column-2 .app_list {
    width: 150px;
  }
  #column-3 {
    height: 280px;
    width: 100%;
    order: 1;
    /* background-color: tomato; */
  }
  #column-3 .select-apps {
  }
  .title div p:nth-child(2) {
    color: white !important;
  }
}

/* Context Menu */

.hide {
  display: none !important;
}

.menu {
  transition: none;
  user-select: none;
  font-size: 14px;
  background-color: #1b1b1b;
  border: 1px solid var(--grey8);
  border-radius: 5px;
  width: 200px;
  height: auto;
  margin: 0;
  position: absolute;
  list-style: none;
  padding: 5px;
  z-index: 99999;
}
.menu * {
  box-sizing: border-box;
}
.row {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.row:hover {
  background-color: var(--grey8);
}

.row:active {
  background-color: #292929;
}

.row > div {
  display: flex;
  align-items: center;
}

.row kbd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  height: 20px;
  width: 20px;
  font-size: 10px;
  background-color: var(--grey8);
  margin-left: 5px;
  border-radius: 3px;
}

.row:hover kbd {
  background-color: var(--grey7);
}

.divider {
  margin: 10px 0;
  border: 1px solid var(--grey8);
}
